.profile__container {
  background-color: white;
  z-index: -200;
  min-height: 100vh;
}
.profile__container .container {
  height: 100%;
}
.profile__inner__container {
  background-color: white;
  border-radius: 5px;
  padding-left: 0px;
  padding-right: 0px;
}
.profile__header {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
}
.profile__header h2 {
  display: inline;
}
.profile__inner__container .nav {
  flex-direction: row-reverse;
  padding-right: 0px;
}
.nav-tabs a {
  color: #111623;
}
.nav-tabs a.active {
  color: #111623;
  font-weight: bold;
}
.profile__userStats {
  width: 100%;
  text-align: center;
  margin-top: 10px;
}
.profile__userStats .userImg {
  width: 250px;
  margin-bottom: 10px;
}
.profile__userStats .title {
  margin-top: 15px;
}
.profile__userStats .details {
  color: #7b7f88;
}
.modal-title {
  width: 100%;
  text-align: right;
  margin-right: 10px;
}
.modal-header {
  flex-direction: row-reverse;
}
.modal-body * {
  text-align: right;
}
.modal-body form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: right;
  font-family: "Secular One", sans-serif;
  width: 100%;
}
.modal-body form label {
  margin-bottom: 0px;
}

.modal-body form input {
  height: 40px;
  color: #1e222e;
  margin-top: 3px;
}
/* input[type="date"] {
  padding: 1px 2px;

} */
.modal-body form button {
  margin-top: 20px;
  height: 40px;
  border: none;
  text-align: center;
  font-size: 22px;
  color: white;
}
.jobSent__messageText {
  text-align: center;
  font-weight: bold;
  color: "#28a745" !important;
}

@media only screen and (max-width: 576px) {
  .profile__inner__container .nav-link {
    text-align: right;
    background-color: white;
    padding-right: 10px !important;
    margin-right: 0px;
  }
  .profile__inner__container .nav-tabs:focus {
    outline: none;
    box-shadow: none;
    border: none;
  }
  .nav-tabs .nav-item {
    margin-bottom: 0px;
  }
  .profile__header {
    padding: 10px;
  }
  .profile__header h2 {
    font-size: 22px;
  }
}
