.error_container {
  z-index: 10001;
  position: fixed;
  bottom: 0;
  padding: 15px;
}
.error_err {
  text-align: right;
  padding-right: 1rem;
  padding-left: 6rem;
  margin: 0px;
  opacity: 1;
  animation: fadeIn ease 1s;
}

.error_err .close {
  left: 0;
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@media only screen and (max-width: 576px) {
  /* mobile look */
  .error_container {
    width: 100%;
    padding: 10px;
  }
}
