.global_loading_container {
  z-index: 10000;
  background-color: rgba(0, 0, 0, 0.829);
  position: fixed;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.loading_jesta_title {
  color: white;
  font-size: 48px;
  font-weight: bold;
  padding: 0px;
  margin-bottom: 0px;
}
